<!DOCTYPE HTML>
<html>
  <head>
    <title>東方地霊殿のスコアデータCSVをグラフ表示するやつ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body class="index is-preload">
    <div id="page-wrapper">
      <article id="main">
        <header class="special container">
          <h2>東方地霊殿のスコアデータCSVをグラフ表示するやつ</h2>
          <span class="icon solid fa-chart-bar"></span>
          <div id="score-chart"></div>
          <div id="graze-chart"></div>
          <div id="remain-chart"></div>
        </header>
      </article>
    </div>
    <script type="text/javascript" src="assets/js/amcharts4/core.js"></script>
    <script type="text/javascript" src="assets/js/amcharts4/charts.js"></script>
    <script type="text/javascript" src="assets/js/amcharts4/themes/animated.js"></script>
    <script>
    am4core.ready(function() {

    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end

    var score_chart = am4core.create("score-chart", am4charts.XYChart);

    var data = [];
    var value = 50;
    for(var i = 0; i < 300; i++){
      var date = new Date();
      date.setHours(0,0,0,0);
      date.setDate(i);
      value -= Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 10);
      data.push({date:date, value: value});
    }

    score_chart.data = JSON.parse('{{ score }}');

    // Create axes
    var dateAxis = score_chart.xAxes.push(new am4charts.DateAxis());
    dateAxis.renderer.minGridDistance = 60;

    var valueAxis = score_chart.yAxes.push(new am4charts.ValueAxis());

    // Create series
    var series = score_chart.series.push(new am4charts.LineSeries());
    series.dataFields.valueY = "value";
    series.dataFields.dateX = "date";
    series.tooltipText = "{value}"

    series.tooltip.pointerOrientation = "vertical";

    score_chart.cursor = new am4charts.XYCursor();
    score_chart.cursor.snapToSeries = series;
    score_chart.cursor.xAxis = dateAxis;
    score_chart.scrollbarX = new am4core.Scrollbar();

    }); // end am4core.ready()
    </script>
  </body>
</html>