<!DOCTYPE HTML>
<html>
  <head>
    <title>東方地霊殿のスコアデータCSVをグラフ表示するやつ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body class="index is-preload">
    <div id="page-wrapper">
      <article id="main">
        <header class="special container">
          <h2>東方地霊殿のスコアデータCSVをグラフ表示するやつ</h2>
          <span class="icon solid fa-chart-bar"></span>
          <div id="score-chart"></div>
          <div id="graze-chart"></div>
          <div id="remain-chart"></div>
        </header>
      </article>
    </div>
    <script type="text/javascript" src="assets/js/script.js"></script>
    <script type="text/javascript" src="assets/js/highcharts/highcharts.js"></script>
    <script>
    var chart_master_data = {
      "score-chart": {
        'title': 'スコア推移',
        'chart-data': '{{ score|safe }}'
      },
      "graze-chart": {
        'title': 'グレイズ推移',
        'chart-data': '{{ graze|safe }}'
      },
      "remain-chart": {
        'title': '残機推移',
        'chart-data': '{{ remain|safe }}'
      }
    };
    for (let chart_id in chart_master_data){

      var chart_data = JSON.parse(chart_master_data[chart_id]['chart-data']);

      var seriesData = [];
      seriesData.push({name: 'CSVファイル1', data: property(chart_data, 'value0')});
      if (chart_data[0]['value1']) {
        seriesData.push({name: 'CSVファイル2', data: property(chart_data, 'value1')});
      }

      Highcharts.chart(chart_id, {
        title: {
          text: chart_master_data[chart_id]['title']
        },
        xAxis: {
          'categories': property(chart_data, 'current')
        },
        series: seriesData
      });
    }
    </script>
  </body>
</html>